.users-container {
    columns: 2 auto;
    column-gap: 2em;
    margin-top: 10px;
}

.users-search {
    text-align: left;

    &-title {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    &-text {
        color: #A3A3A3;
    }

    &-search {
        padding: 40px 0;
        display: flex;

        label {
            font-weight: 800;
            padding-top: 7px;
            padding-right: 40px;
        }

        .select {
            width: 150px;
        }
    }
}